<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="row">
    <%= render :partial => "sidebar" %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row placeholders">
        <!-- <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/assets/200x200_sky.svg" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="/assets/200x200_vine.svg" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div> -->
        <div class="col-xs-12 col-sm-2 placeholder">
          <h2><%= @orders_today %></h2>
          <span class="text-muted">Orders Today</span>
          <h2><%= @land_views_today %></h2>
          <span class="text-muted">Landing Views Today</span>
          <h2><%= (@orders_today.to_f / @land_views_today).round(5) %></h2>
          <span class="text-muted">Conversion Today</span>
        </div>
        <div class="col-xs-12 col-sm-2 placeholder">
          <h2><%= @orders_total %></h2>
          <span class="text-muted">Orders Total</span>
          <h2><%= @land_views_total %></h2>
          <span class="text-muted">Landing Views Total</span>
          <h2><%= (@orders_total.to_f / @land_views_total).round(5) %></h2>
          <span class="text-muted">Conversion Total</span>
        </div>
        <div class="col-xs-12 col-sm-8 placeholder" style="margin-top: -20px;">
          <%= line_chart [ { name: 'Visits', data: @not_admin_land_views.group_by_day(:time, format: "%B %d, %Y").count}, { name: 'Orders', data: Order.group_by_day(:created_at, format: "%B %d, %Y").count} ], discrete: true %>
          <%#= line_chart Ahoy::Event.where(user_id:nil).group_by_day(&:time), discrete: true %>
        </div>
      </div>

      <%#= pie_chart Ahoy::Event.where(user_id:nil).group_by_day(:time, format: "%B %d, %Y").count %>

      <h2 class="sub-header">Orders</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>Short name</th>
              <th>City</th>
              <th>Phone</th>
              <th>Message</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
          <% Order.all.order(created_at: :desc).each do |ev| %>
            <tr>
              <td><%= ev.id %></td> 
              <td><%= ev.email %></td>
              <td><%= ev.short_name %></td>
              <td><%= ev.city %></td>
              <td><%= ev.phone %></td>
              <td style='max-width:300px'><%= ev.message %></td>
              <td><%= ev.created_at.strftime("%A, %d %b %Y %H:%M %:z") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <h2 class="sub-header">Events</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <!-- <th>Visit ID</th> -->
              <!-- <th>User ID</th> -->
              <th>Name</th>
              <th>Properties</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
          <% @not_admin_events.order(time: :desc).each do |ev| %>
            <tr>
              <!-- <td><%#= ev.id %></td> --> 
              <!-- <td><%#= ev.visit_id %></td> -->
              <!-- <td><%#= ev.user %></td> -->
              <!-- <td><%#= ev.name %></td> -->
              <td><%= ev.properties['action'] %></td>
              <td><%= ev.properties['controller'] %></td>
              <td><%= ev.time.strftime("%A, %d %b %Y %H:%M %:z") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


